html{
  scroll-behavior: smooth;
}

:root {
	--color-bg: #0c0d0d;
  --color-text: #f2c99d;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:  1rem;
    color: var(--color-text);
    background-color: var(--color-bg);
}

a {
  color: #d13f3f;
  background-color: #f2c99d;
  padding: 1rem;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;

  
}

h2, h3, h4, h5{
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
}

h3 {
  color: #f2c99d;
  text-align: center;
  padding: 1rem;
}

p {
  color: #f2c99d;
  text-align: center;
}

.back-to-top {
  background-color: #f2c99d;
  padding: 2rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
}

footer{
  background-color: #f2c99d;
  padding: 0rem;
  text-align: center;
}
