/* 

Use a combination of the following CSS flexbox properties to replicate the
completed versions of each challenge. Not all challenges need all 4 of
these properties:

* flex-direction
* justify-content
* align-items
* gap

*/

/* Add your own CSS to the selectors below (.a, .b, .c, .d, .e) */
/* Each container already has display: flex */

.example {
    justify-content: center;
    align-items: center;
}
  
.a {
   flex-direction: row;
   justify-content: right;
   align-items: flex-end;
}
  
.b {
    flex-direction: column;
    justify-content: space-between;
}
  
.c {
    flex-direction: row-reverse;
    justify-content: left;
    align-items: flex-end;
}
  
.d {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}
  
.e {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
  
.f {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
  
.g {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
  
  /* Don't change any CSS below this line */
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial;
    max-width: 40rem;
    margin: 0 auto;
    padding: .5rem;
}
  
p {
    font-size: 1.25rem;
    margin: 1em 0;
}
  
ul {
    margin-left: 2rem;
    font-size: 1.25rem;
}
  
header {
    padding: 2rem 0;
}
  
section {
    margin-bottom: 6rem;
}
  
section h2 {
    margin: 2rem 0;
}
  
.container {
    display: flex;
    background-color: lightgray;
    height: 30rem;
}
  
.flex-item {   
    padding: 1rem;
    font-size: 1.25rem;
    outline: 2px solid red;
    text-align: center;
} 
.example .flex-item {background-color: darkorange;}
.a .flex-item {background-color: lightcoral;}
.b .flex-item {background-color: gold;}
.c .flex-item {background-color: lightcyan;}
.d .flex-item {background-color: lightsteelblue;}
.e .flex-item {background-color: lightseagreen;}
.f .flex-item {background-color: violet;}
.g .flex-item {background-color: cornflowerblue;}